.App {
  text-align: center;
}
.checkbox{
  flex: 1 1 1 40rem;
  width: 20rem;
  height: 20rem;
  margin: 1em;
}
.checkbox:hover{
  border: solid yellow;
}
.handler{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.submit{
  display: block;
  width: 10rem;
  height: 5rem;
  text-align: center;
  top:50rem;
  margin: 1em;
}